 <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="assets/img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>¡Brindamos<br><span class="subrayado">soluciones</span><br>para tu negocio!</h2>
        <style>
          .subrayado {
            text-decoration: underline;
            color: #34C0DF;
          }
          </style>
        <div>
          <a href="#about" class="btn-get-started scrollto">Conocenos</a>
          <a href="#services" class="btn-services scrollto">Nuestros Servicios</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Nosotros</h3>
          <p>Somos Capibara Web, un equipo apasionado y altamente capacitado en el lenguaje HTML. Nuestra misión es convertir ideas en sitios web funcionales y visualmente impactantes. Con experiencia en CSS y JavaScript, creamos sitios web interactivos y dinámicos. Nos comprometemos con la calidad y la satisfacción del cliente, cumpliendo con los plazos acordados.</p>


        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              Nos especializamos en distitnas áreas, con propuestas atractivas para cada sector del mercado. Conocé nuestro trabajo:
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Sitios web empresariales</a></h4>
              <p class="description">Desarrollamos sitios web seguros para tu emprendimiento, empresa o negocio, con calidad profesional.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Blogs y portfolios.</a></h4>
              <p class="description">Brindamos asesoramiento y diseñamos espacios digitales multimediales para tus redes.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Analítica web.</a></h4>
              <p class="description">Ofrecemos trabajos de analítica web que se ajustan a las necesidades del mercado, desarrollando sitios seguros, dinámicos y acordes a las necesidades del mercado.</p>
            </div>

          </div>
          <!-- Opté por hacer un cambio en la imagen, no sé si estaba permitido -->
          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="assets/img/10838789_4549582.svg" class="img-fluid" alt="">
          </div>
        </div>

        </div>

    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Servicios</h3>
          <p>Te brindamos servicios pensados para tu emprendimiento o negocio, con la versatilidad que el mercado actual exige.</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Diseños fluidos</a></h4>
              <p class="description">Responsivos, adaptados a tus plataformas y estructura de negocio.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Sección de documentación</a></h4>
              <p class="description">Podrás anexar términos, condiciones y una descripción documentada de tu propuesta comercial.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Contenido multimedial</a></h4>
              <p class="description">Todo lo que necesitás para mostrar tu emprendimiento en los ambientes digitales, en un solo lugar.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Agilidad, innovación y desarrollo</a></h4>
              <p class="description">Nos ajustamos a tus ritmos de trabajo, con propuestas dinámicas que pueden modificarse y adaptarse a la marcha de tu negocio.</p>
            </div>
          </div>
          </div>

        </div>
    
    </section><!-- #services -->


    <!--==========================
     Sección Equipo
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h3>Equipo</h3>
          <p>Te presentamos a nuestro grupo de trabajo. Gente apasionada por el desarrollo web, con la experiencia y la formación que buscabas.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter Martínez</h4>
                  <span>Ejecutivo general</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="assets/img/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sabrina Hidalgo</h4>
                  <span>Back-End developer</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="assets/img/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Franco Cosentino</h4>
                  <span>Front-End developer</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="assets/img/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Valentina Lopez</h4>
                  <span>Ux experience developer</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container-fluid">

        <div class="section-header">
          <h3>Contacto</h3>
        </div>

        <div class="row wow fadeInUp">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1364.5930680855893!2d-59.64334970341608!3d-30.740801608551703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1688932655570!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="ion-ios-location-outline"></i>
                <p>San Martín 801, La Paz, Entre Ríos</p>
              </div>
              <div class="col-md-4 info">
                <i class="ion-ios-email-outline"></i>
                <p>capibaradesarrollo@gmail.com</p>
              </div>
              <div class="col-md-3 info">
                <i class="ion-ios-telephone-outline"></i>
                <a href="https://api.whatsapp.com/send?phone=5493437511813"><p>+543437511813</p></a>
              </div>
            </div>

            <div class="form">
              <div id="sendmessage">Tu mensaje ha sido enviado, gracias!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Ingresá tu nombre" data-rule="minlen:4" data-msg="Ingresá por favor al menos 4 caracteres" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Tu Email" data-rule="email" data-msg="Por favor ingresá una dirección de mail válida" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="Subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Por favor ingresá un asunto con al menos 8 caracteres" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Por favor escribí algún mensaje para enviar el formulario" placeholder="Escribinos acá tus dudas o inquietudes y a la brevedad nos pondremos en contacto"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Enviar Mensaje</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

